* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .secao2-triangulo-topo {
        display: none;
    }

    .secao3-triangulo-topo {
        display: none;
    }
}