* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.secao2 {
    width: 100%;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #CCCCCC;
}

.secao3 {
    width: 100%;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #B85147;
}