.secao8 {
    width: 100%;
    height: 1800px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(50deg, #B85147 0%, #E7796E 100%);
}

.secao8-container-bloco-img {
    display: none;
}

.secao8-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao8-container-bloco {
    width: 700px;
    height: 1150px;
    background-color: #F0E4D8;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao8-container-bloco img {
    width: 760px;
    margin-top: 35px;
    margin-right: 60px;
}

.secao8-container-bloco-texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 600px;
    margin-left: 30px;
    margin-top: 30px;
}

.secao8-container-bloco-texto h1 {
    font-family: "Magic Bright", serif;
    font-weight: 700;
    font-size: 48px;
    text-align: start;
    color: #2A413B;
}

.secao8-container-bloco-texto h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: start;
}

.secao8-container-bloco-esquerdo {
    width: 450px;
    height: 420px;
    padding-bottom: 10px;
    background-color: #2A413B;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;

    position: absolute;
    margin-top: 380px;
    margin-right: 760px;
}

.secao8-container-bloco-esquerdo h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 300px;
    font-size: 32px;
    color: white;
}

.secao8-container-bloco-esquerdo h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    width: 340px;
    font-size: 28px;
    color: white;
}

.secao8-container-bloco-esquerdo p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 400px;
    color: white;
}

.secao8-container-bloco-direito {
    width: 600px;
    height: 860px;
    padding-bottom: 10px;
    background-color: #F0E4D8;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;

    position: absolute;
    margin-top: 900px;
    margin-right: -600px;
}

.secao8-container-bloco-direito-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.secao8-container-bloco-direito-texto-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 500px;
}

.secao8-container-bloco-direito-texto-item h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #B85147;
}

.secao8-container-bloco-direito-texto-item h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #000000;
}

.secao8-container-bloco-direito-valor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao8-container-bloco-direito-valor h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #000000;
}

.secao8-container-bloco-direito-valor-numero {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -25px;
}

.secao8-container-bloco-direito-valor-numero-vermelho {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: end;
}

.secao8-container-bloco-direito-valor-numero-vermelho h5{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #B85147;
    margin-bottom: 22px;
}

.secao8-container-bloco-direito-valor-numero-vermelho h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 100px;
    color: #B85147;
}

.secao8-container-bloco-direito-valor-numero h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #000000;
    margin-top: -15px;
}

.secao8-container-bloco-direito button {
    width: 430px;
    height: 100px;
    background-color: #2A413B;
    color: #fff;
    border-radius: 15px;
    border: none;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
}

@media (max-width: 1250px) {
    .secao8 {
        width: 100%;
        height: auto;
        padding-bottom: 50px;
    }

    .secao8-container-bloco {
        width: 700px;
        height: 1150px;
        background-color: #F0E4D8;
    
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 90px;
    }

    .secao8-container-bloco-esquerdo {
        width: 450px;
        height: 420px;
        padding-bottom: 10px;
        background-color: #2A413B;
        border-radius: 50px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
    
        position: relative;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
    }

    .secao8-container-bloco-direito {
        width: 600px;
        height: 860px;
        padding-bottom: 10px;
        background-color: #F0E4D8;
        border-radius: 50px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
    
        position: relative;
        margin-top: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 850px) {
    .secao8-container-bloco {
        width: 490px;
        height: 350px;
        margin-bottom: 50px;
        border-radius: 0px 0px 30px 30px;
    }

    .secao8-container-bloco img {
        display: none;
    }

    .secao8-container-bloco-img {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F0E4D8;
        border-radius: 50px 50px 25px 50px;

        width: 380px;
        height: 480px;
        margin-bottom: 50px;
    }

    .secao8-container-bloco-img img {
        width: 400px;
        height: auto;
        margin-top: -10px;
        margin-right: 20px;
    }

    .secao8-container-bloco-texto {
        align-items: center;
    }

    .secao8-container-bloco-texto h1 {
        font-family: "Magic Bright", serif;
        font-weight: 700;
        font-size: 48px;
        width: 420px;
    }
    
    .secao8-container-bloco-texto h3 {
        font-size: 24px;
        width: 420px;
    }

    .secao8-container-bloco-direito {
        width: 490px;
        height: 930px;
        padding-bottom: 10px;
    }

    .secao8-container-bloco-direito-texto-item {
        width: 400px;
    }
    
    .secao8-container-bloco-direito button {
        width: 400px;
        height: 80px;
    }
}

@media (max-width: 550px) {
    

    .secao8-container-bloco {
        width: 300px;
        height: 290px;
        margin-bottom: 40px;
        border-radius: 0px;
    }

    .secao8-container-bloco-img {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F0E4D8;
        border-radius: 0px 0px 15px 50px;

        width: 300px;
        height: 330px;
        margin-bottom: 30px;
        margin-top: -60px;
    }

    .secao8-container-bloco-img img {
        width: 280px;
        height: auto;
        margin-top: -10px;
        margin-right: 20px;
    }

    .secao8-container-bloco-texto {
        align-items: center;
        margin-right: 20px;
    }

    .secao8-container-bloco-texto h1 {
        font-size: 32px;
        width: 270px;
    }
    
    .secao8-container-bloco-texto h3 {
        font-size: 18px;
        width: 280px;
        margin-bottom: 30px;
    }

    .secao8-container-bloco-esquerdo {
        width: 260px;
        height: 260px;
        padding-top: 5px;
        gap: 15px;
        border-radius: 25px;
        margin-bottom: 30px;
        margin-top: -80px;
    }
    
    .secao8-container-bloco-esquerdo h1 {
        width: 240px;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 1px;
    }

    .secao8-container-bloco-esquerdo-limitadas {
        font-style: italic;
        color: #B77855;
    }
    
    .secao8-container-bloco-esquerdo h3 {
        width: 180px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.2px;
    }
    
    .secao8-container-bloco-esquerdo p {
        font-weight: 300;
        font-size: 14px;
        width: 200px;
        line-height: 18px;
    }

    .secao8-container-bloco-direito {
        width: 300px;
        height: 610px;
        padding-bottom: 10px;
        border-radius: 25px;
    }

    .secao8-container-bloco-direito-texto-item {
        gap: 0px;
        align-items: center;
    }

    .secao8-container-bloco-direito-texto-item {
        width: 220px;
    }

    .secao8-container-bloco-direito-texto-item h1 {
        font-size: 22px;
    }
    
    .secao8-container-bloco-direito-texto-item h3 {
        font-size: 16px;
        width: 200px;
        line-height: 18px;
        letter-spacing: -0.2px;
    }
    
    .secao8-container-bloco-direito-valor h3 {
        font-size: 16px;
    }
    
    .secao8-container-bloco-direito-valor-numero {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        margin-top: -25px;
    }
    
    .secao8-container-bloco-direito-valor-numero-vermelho {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: end;
    }
    
    .secao8-container-bloco-direito-valor-numero-vermelho h5{
        font-size: 20px;
        margin-bottom: 18px;
    }
    
    .secao8-container-bloco-direito-valor-numero-vermelho h1 {
        font-size: 60px;
        margin-top: 15px;
    }
    
    .secao8-container-bloco-direito-valor-numero h4 {
        font-size: 16px;
        margin-top: -8px;
    }
    
    .secao8-container-bloco-direito button {
        width: 250px;
        height: 80px;
        font-size: 28px;
    }

    .secao6-container-direito-bloco h2 {
        margin-bottom: 20px;
    }
}