.secao1 {
    width: 100%;
    height: 700px;
    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 185px;

    background-color: #F0E4D8;
}

.secao1-mobile {
    display: none;
}

.secao1-imagem-lado img{
    /* width: 50vw; */
    width: 600px;
    height: auto;

    margin-top: 90px;

    position: relative;
    z-index: 3;
}

.secao1-texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}

.secao1-texto button{
    width: 350px;
    height: 90px;
    background-color: #B85147;
    border: none;
    border-radius: 15px;

    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.secao1-texto-h {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.secao1-texto img {
    width: 300px;
    height: auto;
}

.secao1-texto-h h1 {
    font-family: "Magic Bright", serif;
    font-size: 37px;
    font-weight: 700;
    width: 440px;
    color: #B85147;
}

.secao1-texto-h h2 {
    font-family: "Magic Bright", serif;
    font-size: 28px;
    font-weight: 500;
    width: 440px;
}

@media (max-width: 1150px) {
    .secao1 {
        height: 1700px;
        
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .secao1-imagem-lado img{
        /* width: 50vw; */
        width: 600px;
        height: auto;
    
        margin-top: 100px;
    }

    .secao1-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }    

    .secao1-texto-h {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .secao1-texto img {
        width: 400px;
        height: auto;
        margin-top: 80px;
    }

    .secao1-texto-h h1 {
        font-size: 68px;
        font-weight: 600;
        width: 600px;
        color: #B85147;
        text-align: center;
    }
    
    .secao1-texto-h h2 {
        font-size: 40px;
        font-weight: 400;
        width: 600px;
        text-align: center
    }
}

@media (max-width: 670px) {
    .secao1 {
        display: none;
    }

    .secao1-mobile {
        max-height: 890px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F0E4D8;
        border: #B85147 solid;
    }

    .secao1-mobile-container {
        max-height: 800px;
        height: 90vh;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .secao1-imagem-lado-mobile img{
        width: 50vw;
        min-width: 300px;
    }

    .secao1-texto-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        height: 50vh;
        padding: 10px 0px;
    }

    .secao1-texto-mobile img{
        width: 200px;
    }

    .secao1-texto-h-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .secao1-texto-h-mobile h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 30px;
        width: 300px;
        letter-spacing: -0.2px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-family: "Magic Bright", serif;
        color: #B85147;
    }
    
    .secao1-texto-h-mobile h2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        width: 300px;
        letter-spacing: -0.2px;
        font-family: "Magic Bright", serif;
    }

    .secao1-texto-mobile button{
        width: 210px;
        height: 40px;
        background-color: #B85147;
        border: none;
        border-radius: 10px;
        margin-top: 20px;
    
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }
}